body 
{
    margin: 0px
}

#headerlogo
{
    background-color: #d04135;
    border: solid 10px;
    border-left: none;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-color: green;
    margin-top: 50px;
    width: 80%;
    height: 200px;
    display: flex;

}

#imagemlogo
{
    margin-left: 20px;
}

#divbotoeslogo
{
    display: flex;
    align-items: center; 
    width: 100%;
    margin-left: 40px;
}

.botoes
{
    height: 40px;
    width: 140px;
    margin: 10px;
    margin-left: 20px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-family: "Londrina Solid", sans-serif;
    font-size: 20px;
    color: green;
}

#falaconois
{
   width: 100%;
   margin-top: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 80px; 
   color: white;
    -webkit-text-stroke: 2px black;
    font-family: "Actor", sans-serif;
}

#divhr
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.hrfaleconosco
{
    height: 5px;
    width: 700px;
    background-color: green;
}

#redes
{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#redes2
{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contato
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 40px;
}

#suamensagem
{
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px; 
    color: white;
    -webkit-text-stroke: 2px black;
    font-family: "Actor", sans-serif;
}

#alinhamentomensagens
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mensagem
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 30px ;
}

.caixadetexto1
{
    border-radius: 10px;
}

#escrevasuamensagem
{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#escrevasuamensagem2
{
   width: 800px;
   height: 300px; 
   border-radius: 20px;
   display: flex;
}

#divenviar
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#botaoenviar
{
    color: white;
    background-color: green;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
}